/* nav */
body {
    margin: 0;
}

nav {
    background-color: black;
    margin-bottom: 40px;
}

h1 {
    color: white;
    margin: 0;
    padding: 20px 60px;
}

/* main */
/* section1 */
section {
    width: 90%;
    margin: 0 auto;
}

#section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.box {
    padding: 20px;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    flex: 1;
    margin: 10px;
    position: relative;
}

.box2 {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

#balance, #pay, #loan {
    margin-left: auto;
}

#balance-container {
    display: flex;
}

#loan-container, #repay-btn {
    display: none;
}

.flex-container {
    display: flex;
}

#repay-btn, #loan-btn, #bank-work-btns {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 86%;
}

#repay-btn{
    bottom: 60px;
}

#loan-btn {
    padding: 10px;
    background-color: rgb(12, 193, 12);
    border: 2px solid #1c7a1f;
    bottom: 10px;
}

#bank-work-btns {
    display: flex;
    justify-content: space-between;
    bottom: 10px;
}
 
#bank-btn {
    background-color: rgb(225, 242, 68);
    border: 2px solid rgb(153, 153, 9);
    width: 45%;
}

#work-btn {
    background-color: rgb(57, 87, 239);
    color: white;
    border: 2px solid rgb(12, 7, 141);
    width: 45%;
}

#laptops {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.features-text {
    font-size:0.8em;
    margin: 0;
}


/* section 2 */
.laptop-box1 {
    width: 25%;
}
.laptop-box2 {
    width: 45%;
}

.laptop-box3 {
    width: 25%;
}

#laptop-image {
    width: 100%;
}

#laptop-price {
    font-weight: bold;
    font-size: 1.4em;
}

#buy-btn {
    background-color: rgb(88, 139, 234);
    border: 2px solid rgb(10, 38, 128);
    width: 100%;
}

/* Media queries */
@media screen and (max-width: 600px) {
    #section1 {
        flex-direction: column;
    }

    .box1 {
        flex: 0 0 220px
    }
  }


